---
title: "Parsing CSVs"
date: 2022-09-17T11:20:46+0800
format:
    # pdf: default
    html: 
      self-contained: true
---

In [53]:
import pandas as pd
from datetime import datetime
from IPython.display import display, Markdown, Latex

In [54]:
df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vTCthsmMlLvDTBcZA_7KqQ1cTbuRgcIzoof-FMRdMwaQ0vCArwDecwVDPrTGB2A8MDd2CHNzQw6KtpW/pub?gid=1890379088&single=true&output=csv")
df.head()

,Timestamp,Entry Timestamp,Morale,Points,Weather,Activities,Remarks
0,9/17/2022 16:40:48,9/17/2022 16:38:00,5,0,sunny,"YouTube,home,took a break",NaN
1,9/18/2022 6:56:08,9/18/2022 6:55:00,4,2,idk,"ok sleep,home",NaN
2,9/18/2022 7:13:27,9/18/2022 7:12:00,3,-3,idk,"home,lust",NaN
3,9/18/2022 14:04:16,9/18/2022 12:41:00,5,2,"sunny, clouds","eat out, mall, ok sleep, church",NaN
4,9/19/2022 14:03:21,9/19/2022 14:02:00,4,-3,clouds,"home,lust",- I randomly just feel horny at random times o...

```python
# Print Markdown
display(Markdown(df["Remarks"][0]))
```

Data Sanitation and Conversions

In [55]:
df["Entry Timestamp"] = pd.to_datetime(df["Entry Timestamp"])
df["Timestamp"] = pd.to_datetime(df["Timestamp"])

In [56]:
def listify_text(txt):
  """Transform comma-separated text string to list"""
  # Remove redundant white space and split by comma
  txt = " ".join(txt.split()).lower().strip().split(",")  

  # Initialize placeholder list
  lst = []
  for item in txt:
    # Remove extra white space
    item = " ".join(item.split()).strip()
    # save to temp list
    lst.append(item)
  return lst

In [57]:
# Transform "Activities" strings to proper lists
df_lst = []
for acts in df["Activities"]:
  acts = listify_text(acts)
  df_lst.append(acts)
df["Activities"] = df_lst
df_lst = []

In [58]:
# Transform "Weather" strings to proper lists
df_lst = []
for weather in df["Weather"]:
  weather = listify_text(weather)
  df_lst.append(weather)
df["Weather"] = df_lst
df_lst = []

In [59]:
# df["Remarks"][1] 
df

,Timestamp,Entry Timestamp,Morale,Points,Weather,Activities,Remarks
0,2022-09-17 16:40:48,2022-09-17 16:38:00,5,0,[sunny],"[youtube, home, took a break]",NaN
1,2022-09-18 06:56:08,2022-09-18 06:55:00,4,2,[idk],"[ok sleep, home]",NaN
2,2022-09-18 07:13:27,2022-09-18 07:12:00,3,-3,[idk],"[home, lust]",NaN
3,2022-09-18 14:04:16,2022-09-18 12:41:00,5,2,"[sunny, clouds]","[eat out, mall, ok sleep, church]",NaN
4,2022-09-19 14:03:21,2022-09-19 14:02:00,4,-3,[clouds],"[home, lust]",- I randomly just feel horny at random times o...
5,2022-09-19 21:25:47,2022-09-19 21:23:00,2,-5,[clouds],"[procrastinate, home, youtube, lust]",- I just cannot seem to have myself follow the...

Date Field

In [60]:
dates = []
for dt in df["Entry Timestamp"]:
  dates.append(dt.date())
df["Date"] = dates

Time Field

In [61]:
times = []
for dt in df["Entry Timestamp"]:
  times.append(dt.time())
df["Time"] = times

Hour Field

In [62]:
hrs = []
for dt in df["Entry Timestamp"]:
  hrs.append(dt.hour+(dt.minute/60))
df["Hour"] = hrs

In [63]:
days = []
for dt in df["Entry Timestamp"]:
  weekday = dt.isoweekday()
  if weekday == 1:
    days.append("Mon")
  elif weekday == 2:
    days.append("Tue")
  elif weekday == 3:
    days.append("Wed")
  elif weekday == 4:
    days.append("Thu")
  elif weekday == 5:
    days.append("Fri")
  elif weekday == 6:
    days.append("Sat")
  elif weekday == 7:
    days.append("Sun")
df["Weekday"] = days

In [64]:
df["Mood"] = ((df["Morale"] - 4) * 10)

In [66]:
df

,Timestamp,Entry Timestamp,Morale,Points,Weather,Activities,Remarks,Date,Time,Hour,Weekday,Mood
0,2022-09-17 16:40:48,2022-09-17 16:38:00,5,0,[sunny],"[youtube, home, took a break]",NaN,2022-09-17,16:38:00,16.633333,Sat,10
1,2022-09-18 06:56:08,2022-09-18 06:55:00,4,2,[idk],"[ok sleep, home]",NaN,2022-09-18,06:55:00,6.916667,Sun,0
2,2022-09-18 07:13:27,2022-09-18 07:12:00,3,-3,[idk],"[home, lust]",NaN,2022-09-18,07:12:00,7.200000,Sun,-10
3,2022-09-18 14:04:16,2022-09-18 12:41:00,5,2,"[sunny, clouds]","[eat out, mall, ok sleep, church]",NaN,2022-09-18,12:41:00,12.683333,Sun,10
4,2022-09-19 14:03:21,2022-09-19 14:02:00,4,-3,[clouds],"[home, lust]",- I randomly just feel horny at random times o...,2022-09-19,14:02:00,14.033333,Mon,0
5,2022-09-19 21:25:47,2022-09-19 21:23:00,2,-5,[clouds],"[procrastinate, home, youtube, lust]",- I just cannot seem to have myself follow the...,2022-09-19,21:23:00,21.383333,Mon,-20